<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body bgcolor="white"><center>
  <h1>Welcome to <%= title %></h1>
  <h3></h3>
</center>
</body>
</html>
